<div class="container-sm cabecera">
    <h1>{{titulo}}</h1>
    <h5><i>{{subtitulo}}</i></h5>
    <fa-icon [icon]="iconoCafe" class="fa-3x"></fa-icon>
</div>

<div class="container-sm botones">
    <app-boton 
        [nombreBoton]="botonAgregarGuardia"
        (estadoBoton)="activarFormularioAgregacion($event)"
    ></app-boton>

    <app-boton 
        [nombreBoton]="botonSeleccionarGuardia"
        (estadoBoton)="activarFormularioSeleccion($event)"
        ></app-boton>
</div>

<div 
    class="container-sm container-centrado"
    *ngIf="estadoBotonAgregacion"
>
    <app-agrega-guardia></app-agrega-guardia>
</div>

<div 
    class="container-sm container-centrado"
    *ngIf="estadoBotonSeleccion"
>
    <app-selecciona-guardia></app-selecciona-guardia>
</div>
