<!--//////////Tabla de días-filas///////////////////-->
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          {{mes.nombre}}
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

            <div class="container-sm text-center">

                <!--Boton Agregar Fila-->
                <fa-icon 
                    class="boton-agregar fa-2x" 
                    [icon]="iconoAgregar" 
                    (click)="alternarFormularioAlta()"
                    >
                </fa-icon>

                <!--//////////Formulario de alta de fila/////////////-->
                <div class="container" *ngIf="formularioAltaActivado">
                    <app-agregar-fila [mes]="mes"></app-agregar-fila>
                </div>
                
                <!--/////////////////////////////////////////////////-->

                <div class="row align-items-start">
                    <div class="col">
                        Día y Fecha
                    </div>
                    <div class="col">
                      Horas
                    </div>
                    <div class="col">
                        Lugar
                    </div>
                    <div class="col">
                        $/Hora (ARS)
                    </div>
                    <div class="col">
                        Subtotal (ARS)
                    </div>
                    <div class="col">
                        Editar
                    </div>
                    <div class="col">
                        Borrar
                    </div>
                </div>

                <!--////////Filas-Dias/////////////////////-->
                <div *ngFor="let dia of dias">
                    <app-fila [dia]="dia" (subtotalEmitter)="recibirSubtotales($event)"></app-fila>
                </div>
                <!--/////////////////////////////////////-->

                <div class="alert alert-success monto" role="alert">
                    {{calcularSubtotales() | currency:"$"}}
                </div>
            </div>
            
            <!--
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Día y fecha</th>
                        <th scope="col">Cantidad de horas</th>
                        <th scope="col">Lugar de guardia</th>
                        <th scope="col" class = "monto">Monto (ARS)</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>
                <tbody *ngFor="let dia of dias">
                -->
                    <!--///////////Dias-Filas//////////////////-->
                    
                    <!--
                    <app-fila [dia] = "dia"></app-fila>
                       
                
                </tbody> 
            </table>

            <div class="alert alert-success monto" role="alert">
                Total: $ 3840
            </div>
        -->
        </div>
      </div>
    </div>
</div>
