<form  
    class="formulario"  
    (ngSubmit)="onEnviar($event)"
    [formGroup]="formSelectGuardia"
    >
    <select 
        id="selector" 
        class="form-select form-select-lg mb-3" 
        aria-label=".form-select-lg example"
        formControlName="seleccion"
        >
        <option selected>Seleccione al guardia</option>
        <option
            *ngFor="let guardia of guardias"
            [value]="guardia.id"    
        >
            <app-guardia [guardia]="guardia"></app-guardia>
        </option>
    </select>

    <button type="submit" class="btn btn-success">Seleccionar</button>